.App {
  text-align: center;
}

.brand {
  margin: 0;
  height: 1.5em;
  color: grey;
}

.main_title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -70%);
  margin: 0;
  font-size: 180px;
  font-weight: bold;
  color: lightseagreen;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
